@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

html, body {
    width: 100vw;
    height: 100vh;
    background-color: black;
}

body {
    background-image: url(../imagens/fundo-madeira.jpg);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
}

main {
    position: relative;
    height: 100vh;
}

#telefone {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 311px;
    height: 627px;
    background-image: url(../imagens/frame-iphone.png);
    background-repeat: no-repeat;
    background-size: cover;
}

#tela {
    position: relative;
    top: 80px;
    left: 22px;
    width: 269px;
    height: 471px;
}

#redes-sociais {
    display: flex;
    flex-direction: column;
    align-items: end;
}

#redes-sociais img {
    width: 60px;
    border-radius: 50%;
    margin-right: 20px;
    margin-top: 20px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.500);
    box-sizing: border-box;
}

#redes-sociais img:hover {
    border: 2px solid rgba(255, 255, 255, 0.700);
    transform: translate(-2px, -2px);
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.600);
    transition: transform 0.2s;
}


